{% extends 'pages/base.html' %}

{% block body %}        

            <section class="hero-section">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <div class="text-center mb-5 pb-2">
                                <h1 class="text-white">Listen to Pod Talk</h1>

                                <p class="text-white">Listen it everywhere. Explore your fav podcasts.</p>

                                <a href="#section_2" class="btn custom-btn smoothscroll mt-3">Start listening</a>
                            </div>

                            <div class="owl-carousel owl-theme">
                                {% for i in home_carusel_list %}
                                <div class="owl-carousel-info-wrap item">
                                    <img src="{{ i.img.url }}" class="owl-carousel-image img-fluid" alt="{{ i.info1 }}">

                                    <div class="owl-carousel-info">
                                        <h4 class="mb-2">
                                            {{ i.name }}
                                            <!-- {{ i.verified }}  -->
                                            <img src="../../../media/media/verified.png" class="owl-carousel-verified-image img-fluid" alt="">
                                        </h4>

                                        <span class="badge">{{ i.info1 }}</span>

                                        <span class="badge">{{ i.info2 }}</span>
                                    </div>

                                    <div class="social-share">
                                        <ul class="social-icon">
                                            <li class="social-icon-item">
                                                <a href="https://twitter.com/" class="social-icon-link bi-twitter"></a>
                                            </li>

                                            <li class="social-icon-item">
                                                <a href="https://facebook.com/" class="social-icon-link bi-facebook"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="latest-podcast-section section-padding pb-0" id="section_2">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-12 col-12">
                            <div class="section-title-wrap mb-5">
                                <h4 class="section-title">Lastest episodes</h4>
                            </div>
                        </div>
                        {% for i in home_latest %}
                        <div class="col-lg-6 col-12">
                            <div class="custom-block d-flex">
                                <div class="">
                                    <div class="custom-block-icon-wrap">
                                        <div class="section-overlay"></div>
                                        <a href="{% url 'detail_page' i.id %}" class="custom-block-image-wrap">
                                            <img src="{{ i.img.url }}" class="custom-block-image img-fluid" alt="">

                                            <a href="#" class="custom-block-icon">
                                                <i class="bi-play-fill"></i>
                                            </a>
                                        </a>
                                    </div>

                                    <div class="mt-2">
                                        <a href="#" class="btn custom-btn">
                                            Subscribe
                                        </a>
                                    </div>
                                </div>

                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <i class="bi-clock-fill custom-icon"></i>
                                            {{ i.duration }} Minutes
                                        </small>

                                        <small>Episode <span class="badge">{{ i.episode_count }}</span></small>
                                    </div>

                                    <h5 class="mb-2">
                                        <a href="{% url 'detail_page' i.id %}">
                                            {{ i.name }}
                                        </a>
                                    </h5>
                                                                        
                                    <div class="profile-block d-flex">
                                        <img src="{{ i.author_img.url }}" class="profile-block-image img-fluid" alt="">
                                        
                                        <p>{{ i.author }}
                                        <img src="../../../media/media/verified.png" class="verified-image img-fluid" alt="">
                                        
                                            <strong>{{ i.author_info }}</strong></p>
                                    </div>
                                    
                                    <p class="mb-0">{{ i.info }}</p>

                                    <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                        <a href="#" class="bi-headphones me-1">
                                            <span>140k</span>
                                        </a>

                                        <a href="#" class="bi-heart me-1">
                                            <span>22.4k</span>
                                        </a>

                                        <a href="#" class="bi-chat me-1">
                                            <span>16k</span>
                                        </a>

                                        <a href="#" class="bi-download">
                                            <span>62k</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="d-flex flex-column ms-auto">
                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-heart"></i>
                                    </a>

                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-bookmark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>


            <section class="topics-section section-padding pb-0" id="section_3">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <div class="section-title-wrap mb-5">
                                <h4 class="section-title">Topics</h4>
                            </div>
                        </div>
                        {% for i in home_topic_list %}
                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block custom-block-overlay">
                                <a href="{% url 'detail_page' i.id %}" class="custom-block-image-wrap">
                                    <img src="{{ i.img.url }}" class="custom-block-image img-fluid" alt="">
                                </a>

                                <div class="custom-block-info custom-block-overlay-info">
                                    <h5 class="mb-1">
                                        <a href="listing-page.html">
                                            {{ i.topic }}
                                        </a>
                                    </h5>

                                    <p class="badge mb-0">{{ i.i_count }} Episodes</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>


            <section class="trending-podcast-section section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <div class="section-title-wrap mb-5">
                                <h4 class="section-title">Trending episodes</h4>
                            </div>
                        </div>
                        {% for i in home_trending %}
                        <div class="col-lg-4 col-12">
                            <div class="custom-block custom-block-full">
                                <div class="custom-block-image-wrap">
                                    <a href="{% url 'detail_page' i.id %}">
                                        <img src="{{ i.img.url }}" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>

                                <div class="custom-block-info">
                                    <h5 class="mb-2">
                                        <a href="{% url 'detail_page' i.id %}">
                                            {{ i.name }}
                                        </a>
                                    </h5>

                                    <div class="profile-block d-flex">
                                        <img src="{{ i.author_img.url }}" class="profile-block-image img-fluid" alt="">

                                        <p>
                                            {{ i.author }}
                                            <img src="../../../media/media/verified.png" class="verified-image img-fluid" alt="">
                                            <strong>{{ i.author_info }}</strong></p>
                                    </div>

                                    <p class="mb-0">{{ i.info }}</p>

                                    <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                        <a href="#" class="bi-headphones me-1">
                                            <span>100k</span>
                                        </a>

                                        <a href="#" class="bi-heart me-1">
                                            <span>2.5k</span>
                                        </a>

                                        <a href="#" class="bi-chat me-1">
                                            <span>924k</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="social-share d-flex flex-column ms-auto">
                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-heart"></i>
                                    </a>

                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-bookmark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </main>
{% endblock %}        